/* Set padding on <body>, but with the lowest specificity */
:is(body) {
  padding: 1rem;
}


/* Browsers don't use a pointer cursor on buttons by default, imo they should */
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
}

/* Chrome puts an arrow in input elements with a datalist, but it is too low down, so raise it */
input[list]::-webkit-calendar-picker-indicator {
  margin-top: -8px;
}

/* based on https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
