.timesTable {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  /* grid-auto-columns: auto; */
  overflow-x: auto;
  white-space: nowrap;

  & div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    gap: 1ch;
  }
}

.row {
  border-block-start: 1px solid #aaa;
  padding: 0.5rem;

  & span:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 20ch;
  }
}

.header {
  padding: 0.5rem;
}
.headerItem {
  display: grid;
  grid-template-columns: min-content min-content minmax(min-content, 30ch);
  gap: 0.5ch;

  & button {
    font-weight: 600;
    background: none;
    border: none;
    padding: 0;
    outline-offset: 0.2rem;
    color: black;

    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: subgrid;
    justify-items: start;
    align-items: center;
  }

  & input[type='date'] {
    width: 13ch;
  }
}

.sortIcon {
  display: inline-block;
  width: 1rem;
  min-width: 1rem;
  height: 1rem;
}

@container scraper (width < 43rem) {
  .timesTable {
    grid-template-columns: 1fr;
    overflow: unset;
    white-space: normal;
  }

  div.header {
    width: 100%;

    display: grid;
    grid-template-columns: auto auto 1fr;
  }

  .headerItem {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;

    & input[type='date'] {
      width: unset;
    }
  }

  div.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    gap: 0;

    & span {
      padding: 0.5rem;

      &:nth-child(1) {
        flex-basis: 100%;
        font-weight: 600;
      }
      &:nth-child(2) {
        width: 50%;
      }
      &:nth-child(3),
      &:nth-child(4) {
        width: 25%;
      }
    }
  }
}
