.scraper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 1rem;
  /* width: 100%; */

  container: scraper / inline-size;
}

.search,
.dataView {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.search {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
  & input {
    flex-grow: 1;
  }
}

.name {
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-top: 1rem;
  margin-bottom: 1rem;

  font-size: 1.5rem;
}

.pfp {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.timesTable {
  display: grid;
  grid-template-columns: 3.5fr 1fr 1fr 1fr;
  /* grid-auto-columns: auto; */
  overflow: scroll;
  white-space: nowrap;

  & div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    gap: 1ch;
  }
}

.row {
  grid-column: 1 / -1;

  border-block-start: 1px solid #aaa;
  padding: 0.5rem;

  & span:nth-child(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 20ch;
  }
}

.header {
  padding: 0.5rem;
  font-weight: 600;
}
.headerItem {
  & button {
    background: none;
    border: none;
    padding: 0;
    outline-offset: 0.2rem;
  }
}

.sortIcon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

/* TODO: tweak this breakpoint */
@container scraper (width < 40rem) {
  .timesTable {
    /* background-color: red; */
    overflow: unset;
    white-space: normal;

    & div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      & span:nth-child(1) {
        width: 100%;
        /* background-color: blue; */
      }
    }
  }
}