.scraper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 1rem;
  /* width: 100%; */

  container: scraper / inline-size;
}

.search {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 1rem;

  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.query {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
  & input {
    flex-grow: 1;
  }
}