.scraper {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin: 1rem;
  /* width: 100%; */

  container: scraper / inline-size;
}

.search,
.dataView {
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.search {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
  & input {
    flex-grow: 1;
  }
}

.name {
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin-top: 1rem;
  margin-bottom: 1rem;

  font-size: 1.5rem;
}

.pfp {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}